<p>This is a demo for http request</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" ng-click="testGet()">get</button>
            <button type="button" class="btn btn-primary" ng-click="testPost()">post</button>
        </div>
    </div>
    <br>
    <div class="container-fluid" id="tableContainer">
        <div class="row">
            <div class="col-md-12">
                <h4>{{mockList.length}} total</h4>
                <table class="table table-striped table-bordered" id="theTable">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>数字</th>
                        <th>数字</th>
                        <th>CNT</th>
                    </tr>
                    </thead>
                    <tbody id="theTbody" class="nowrap">
                        <tr ng-repeat-start="item in filteredMockList">
                            <td rowspan="2">{{item.name}}</td>
                            <td>{{item.number}}</td>
                            <td>{{item.number}}</td>
                            <td rowspan="2">{{item.number}}</td>
                        </tr>
                        <tr ng-repeat-end="item in filteredMockList">
                            <td colspan="2">{{item.cnt}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination total-items="totalItems" max-size = "maxSize" ng-model="currentPage" boundary-links="true"></pagination>
            </div>
        </div>
    </div>
</div>
